
.env.txt
.DS_Store
.vscode/settings.json
.ipynb_checkpoints/DS0701EN-3-3-2-Neighborhoods-New-York-py-v2.0-checkpoint.ipynb
.ipynb_checkpoints/DS0701EN-3-3-1-Clustering-k-means-py-v2.0-checkpoint.ipynb
.ipynb_checkpoints/DS0701EN-2-2-1-Foursquare-API-py-v2.0-checkpoint.ipynb
.ipynb_checkpoints/Coursera_Capstone-checkpoint.ipynb
.ipynb_checkpoints/Clustering_Neighborhoods_in_Toronto-checkpoint.ipynb
.ipynb_checkpoints/Coursera_Capstone-checkpoint.ipynb
